<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{ meta.charset }}" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ staticBasePath }}favicon.ico"/>
    <link rel="stylesheet" href="{{ staticBasePath }}scene.css" />
    <link rel="stylesheet" href="{{ staticBasePath }}common-styles.css" />
</head>
<body>
{{> header }}
<main class="scene">
    <div class="scene__description">
        {{#if scene.image }}
            <img class="scene__image" src="{{ scene.image }}" alt="Сцена">
            <p class="scene__text_{{ scene.angle }} scene__text scene_color_white scene_margin_none">{{ scene.description }}</p>
        {{^}}
            <p class="scene__text_left-up scene__text scene_color_black scene_margin_none">{{ scene.description }}</p>
        {{/if}}
    </div>
    <ul class="scene__achievements scene_padding_none">
        {{#each scene.achievements}}
            <li class="scene__achievement scene_list-style_none">
                <img class="scene__achievement-image" src="{{ image }}" alt="Достижение">
                <div class="scene__achievement-info">
                    <p class="scene__achievement-notify scene_margin_none">Достижение получено</p>
                    <p class="scene__achievement-text scene_margin_none">{{ description }}</p>
                </div>
            </li>
        {{/each}}
    </ul>
    {{#if scene.actions.length}}
        <ul class="scene__actions scene_text-align_center scene_padding_none">
            {{#each scene.actions}}
                <li class="scene__action scene_list-style_none">
                    <a class="scene__action-link scene_color_white scene__button scene_a_no-decor"
                       href="/scene/{{ nextSceneId }}">
                        {{ text }}
                    </a>
                </li>
            {{/each}}
        </ul>
    {{^}}
        <div class="scene__start-again-button scene_text-align_center">
            <a class="scene__button scene_a_no-decor scene_color_white"
               href="/scene/{{ startSceneId }}">Начать заново</a>
        </div>
    {{/if}}
</main>
</body>
</html>
